# Bloqueia install se houver vulnerabilidades high/critical
audit-level=high

# Versões exatas ao adicionar pacotes (sem ~, ^)
save-exact=true

# Falha se a versão do Node/npm não satisfizer "engines" no package.json
engine-strict=true

# Garante geração/uso do package-lock.json
package-lock=true

# Resolve peer deps automaticamente (npm v7+ padrão)
legacy-peer-deps=false

# Prefixo ~ ao invés de ^ em saves manuais
save-prefix=~
